/* == list == */
.m-list {
    margin-left: 0;
    padding-left: 0;
    &--sns {
        @extend .m-list;
        display: flex;
        width: 80%;
        min-width: rem(150);
        max-width: rem(300);
        margin: 2.5em auto;
        li {
            list-style: none;
        }
        a {
            box-shadow: none;
        }
    }
    &--sns > &__item {
        list-style: none;
        flex: 1;
        text-align: center;
    }
    &--sns &__link {
        border-radius: 50%;
        display: inline-block;
        width: rem(60);
        height: rem(60);
        text-align: center;
        line-height: rem(60);
        border: rem(3) solid $link-color;
        
        > .m-svg {
            svg {
                fill: $link-color;
                transition: all 0.15s ease-in;
            }
        }
        &:hover .m-svg {
            svg {
                width: rem(35);
                height: rem(35);
            }
            &--twitter svg {
                fill: $twitter-color;
            }
            &--facebook svg {
                fill: $facebook-color;
            }
        }
    }
    &--relative {
        @extend .m-list;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    &--relative > &__item {
        list-style: none;
        box-sizing: border-box;
        margin-bottom: 1rem;
        .m-media {
            img {
                max-width: 100%;
                height: rem(174);
                object-fit: cover;
                box-shadow: 0 0 0 rem(1) $border-color;
                &:hover {
                    filter: brightness(120%);
                }
            }
            &--none {
                height: rem(174);
                font-family: $serif-font-family;
                box-shadow: 0 0 0 rem(1) $border-color;
            }
        }
        .m-ttl {
            font-size: rem(18);
            margin-top: .2em;
        }
        .m-date {
            font-size: rem(12);
        }
    }
}
/* ======= TABLET, DESKTOP ======= */
@media only screen and (min-width: 40.063em) {
    /*! autoprefixer grid: off */
    .m-list {
        &--relative {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(21vw, 1fr));
            grid-column-gap: 3vw;
            grid-row-gap: 3vw;

        }
    }
}