/* == list == */
.m-list {
    &--sns {
        // @extend .m-list;
        display: flex;
        width: 50%;
        min-width: rem(150);
        margin: auto;
        li {
            list-style: none;
        }
        a {
            box-shadow: none;
        }
    }
    &--sns > &__item {
        list-style: none;
        flex: 1;
        text-align: center;
    }
    &--sns &__link {
        border-radius: 60%;
        display: inline-block;
        width: rem(60);
        height: rem(60);
        text-align: center;
        line-height: rem(60);
        border: rem(3) solid $link-color;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
}