/* == menu == */
.m-menu {
    padding: 0;
    margin: 0;
    border-top: rem(1) solid $border-color;
    &__item,
    > li {
        list-style: none;
        a {
            box-shadow: none;
            padding: 1em;
            border-bottom: rem(1) solid $border-color;
            display: block;
            transition: padding-left .2s;
            &:hover {
                padding-left: 2em;
            }
        }
    }
}