/* == button == */
.wp-block-button {
    .wp-block-button__link {
        border-radius: rem(6);
        font-weight: 700;
        font-size: inherit;
        line-height: auto;
        padding: .7em 1.2em;
        &:hover {
            text-decoration: none;
            box-shadow: none;
        }
    }
    &.is-style-default {
        .wp-block-button__link {
            background-color: $link-color;
            &:hover {
                background-color: darken( $link-color, 10% );
            }
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            border-color: $link-color;
            &:hover {
                border-color: darken( $link-color, 10% );
                background-color: darken( $base-color, 5% );
            }
        }
    }
    &.is-style-squared {
        .wp-block-button__link {
            background-color: $link-color;
            border-radius: 0;
            &:hover {
                background-color: darken( $link-color, 10% );
            }
        }
    }
}
/* == separator / hr == */
hr,.wp-block-separator {
    border-top: rem(2) dashed lighten($text-color,50%);
    margin: rem(30) auto;
    width: 50%;
    &.is-style-wide {
        width: auto;
        margin: rem(30) 1em;
    }
    &.is-style-dots {
        border: none;
        width: auto;
        &::before {
            color: lighten($text-color,50%);
        }
    }
}
/* == table == */
table,.wp-block-table {
    border-top: rem(1) solid $border-color;
    border-left: rem(1) solid $border-color;
    font-size: rem(14);
    margin: 1em 0;
    td,th {
        padding: .5em 1em;
        border-right: rem(1) solid $border-color;
        border-bottom: rem(1) solid $border-color;
    }
    th {
        font-weight: 700;
        background-color: darken($base-color,3%);
    }
    tr {
        &:nth-child(odd) > td {
            background-color: darken($base-color,2%);
        }
    }
}
/* == columns == */
$column-margin : 1vw;
.wp-block-column {
    flex-grow: 1;
}
@media only screen and (min-width: 40.063em) {
    .wp-block-column {
        margin: 0 0 1em 0;
        flex-grow: 1;
        &:not(:last-child),
        &:nth-child(odd) {
            margin-right: $column-margin;
        }
        &:not(:first-child),
        &:nth-child(even) {
            margin-left: $column-margin;
        }
        &:last-child {
            margin-right: 0;
        }
        p {
            text-align: justify;
        }
    }
    
}