// ===== config =====
$theme-colors: (
  red: #CE2121,
  gold: #988768,
  base: $base-color,
  texts: $text-color
);
//mixin
@mixin eachBtnColor($colors) {
    @each $key, $color in $colors {
        &.has-#{$key}-background-color {
            background-color: $color;
            &:hover {
                background-color: lighten( $color, 10% );
            }
        }
        &.has-#{$key}-color {
            color: $color;
        }
    }
}

/* == color == */
@each $key, $color in $theme-colors {
    &.has-#{$key}-background-color {
        background-color: $color;
    }
    &.has-#{$key}-color {
        color: $color;
    }
}
p.has-background {
    padding: 1.2em 1.5em;
}

/* == button == */
.wp-block-button {
    .wp-block-button__link {
        border-radius: rem(6);
        font-weight: 700;
        font-size: inherit;
        line-height: auto;
        padding: .5em 1em;
        &:hover {
            text-decoration: none;
            box-shadow: none;
        }
        @include eachBtnColor($theme-colors);
    }
    &.is-style-default {
        .wp-block-button__link {
            background-color: $link-color;
            &:hover {
                background-color: lighten( $link-color, 10% );
            }
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            border-color: $link-color;
            &:hover {
                border-color: darken( $link-color, 10% );
                background-color: lighten( $base-color, 5% );
            }
            @include eachBtnColor($theme-colors);
            @each $key, $color in $theme-colors {
                &.has-#{$key}-color {
                    border-color: $color;
                    &:hover {
                        border-color: darken($color,10%);
                    }
                }
            }
        }
    }
    &.is-style-squared {
        .wp-block-button__link {
            background-color: $link-color;
            border-radius: 0;
            &:hover {
                background-color: darken( $link-color, 10% );
            }
            @include eachBtnColor($theme-colors);
        }
    }
}
/* == separator / hr == */
hr,.wp-block-separator {
    border-top: rem(2) dashed lighten($text-color,50%);
    margin: rem(30) auto;
    width: 50%;
    &.is-style-wide {
        width: auto;
        margin: rem(30) 1em;
    }
    &.is-style-dots {
        border: none;
        width: auto;
        &::before {
            color: lighten($text-color,50%);
        }
    }
}
/* == table == */
table.wp-block-table {
    border-top: rem(1) solid $border-color;
    border-left: rem(1) solid $border-color;
    font-size: rem(14);
    margin: 1em 0;
    td,th {
        padding: .5em 1em;
        border-right: rem(1) solid $border-color;
        border-bottom: rem(1) solid $border-color;
    }
    th {
        font-weight: 700;
        background-color: darken($base-color,3%);
    }
    tr {
        &:nth-child(odd) > td {
            background-color: darken($base-color,2%);
        }
    }
}
/* == columns == */
$column-margin : 0;
$column-padding : .5em;
.wp-block-column {
    flex-grow: 1;
}
@media only screen and (min-width: 40.063em) {
    .wp-block-column {
        margin: 0 0 1em 0;
        flex-grow: 1;
        box-sizing: border-box;
        &:not(:last-child),
        &:nth-child(odd) {
            margin-right: $column-margin;
            padding-right: $column-padding;
        }
        &:not(:first-child),
        &:nth-child(even) {
            margin-left: $column-margin;
            padding-left: $column-padding;
        }
        &:last-child {
            margin-right: 0;
        }
        p {
            text-align: justify;
            &.has-background {
                margin: 0;
            }
        }
    }
    
}