// ===== config =====
$theme-colors: (
  red: #CE2121,
  gold: #988768,
  base: $base-color,
  texts: $text-color
);
//mixin
@mixin eachBtnColor($colors) {
    @each $key, $color in $colors {
        &.has-#{$key}-background-color {
            background-color: $color;
            &:hover {
                background-color: lighten( $color, 10% );
            }
        }
        &.has-#{$key}-color {
            color: $color;
        }
    }
}

/* == color == */
@each $key, $color in $theme-colors {
    &.has-#{$key}-background-color {
        background-color: $color;
    }
    &.has-#{$key}-color {
        color: $color;
    }
}
p.has-background {
    padding: 1.2em 1.5em;
    box-sizing: border-box;
}

/* == button == */
.wp-block-button {
    .wp-block-button__link {
        border-radius: rem(6);
        font-weight: 700;
        font-size: inherit;
        line-height: auto;
        padding: .5em 1em;
        &:hover {
            text-decoration: none;
            box-shadow: none;
        }
        @include eachBtnColor($theme-colors);
    }
    &.is-style-default {
        .wp-block-button__link {
            background-color: $link-color;
            &:hover {
                background-color: lighten( $link-color, 10% );
            }
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            border-color: $link-color;
            &:hover {
                border-color: darken( $link-color, 10% );
                background-color: lighten( $base-color, 5% );
            }
            @include eachBtnColor($theme-colors);
            @each $key, $color in $theme-colors {
                &.has-#{$key}-color {
                    border-color: $color;
                    &:hover {
                        border-color: darken($color,10%);
                    }
                }
            }
        }
    }
    &.is-style-squared {
        .wp-block-button__link {
            background-color: $link-color;
            border-radius: 0;
            &:hover {
                background-color: darken( $link-color, 10% );
            }
            @include eachBtnColor($theme-colors);
        }
    }
}
/* == separator / hr == */
hr,.wp-block-separator {
    border-top: rem(1) solid $border-color;
    margin: rem(30) auto;
    width: 50%;
    max-width: rem(600);
    &.is-style-wide {
        width: 100%;
        max-width: 100%;
        margin: rem(30) auto;
    }
    &.is-style-dots {
        border: none;
        width: auto;
        &::before {
            color: lighten($text-color,50%);
        }
    }
}
/* == blockquote == */
.wp-block-quote {
    &.is-large,
    &.is-style-large {
        margin: 1.5em auto;
        padding: 0;
        max-width: rem(1024);
        p {
            font-style: normal;
        }
    }
}
/* == pullquote == */
.wp-block-pullquote,
figure.wp-block-pullquote {
    max-width: 100%;
    p {
        font-size: rem(24);
    }
    cite {
        font-size: rem(18);
        text-align: center;
    }
}
/* == table == */
table.wp-block-table {
    border-top: rem(1) solid $border-color;
    border-left: rem(1) solid $border-color;
    font-size: rem(14);
    margin: 1em auto;
    td,th {
        padding: .5em 1em;
        border-right: rem(1) solid $border-color;
        border-bottom: rem(1) solid $border-color;
    }
    th {
        font-weight: 700;
        background-color: darken($base-color,3%);
    }
    tr {
        &:nth-child(odd) > td {
            background-color: darken($base-color,2%);
        }
    }
}
/* == columns == */
$column-margin : 0;
$column-padding : 1em;
.wp-block-column {
    flex-grow: 1;
}
.wp-block-columns {
    &.has-3-columns,
    &.has-4-columns {
        display: block;
    }
    &.has-2-columns {
        .wp-block-column {
            &:first-child {
                padding-right: $column-padding;
            }
            &:last-child {
                padding-left: $column-padding;
            }
        }
    }
}
@media only screen and (min-width: 40.063em) {
    .wp-block-columns {
        &.has-3-columns,
        &.has-4-columns {
            display: flex;
        }
    }
    .wp-block-column {
        margin: 0 0 1em 0;
        flex-grow: 1;
        box-sizing: border-box;
        &:not(:last-child),
        &:nth-child(odd) {
            margin-right: $column-margin;
            padding-right: $column-padding;
        }
        &:not(:first-child),
        &:nth-child(even) {
            margin-left: $column-margin;
            padding-left: $column-padding;
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }
        p {
            text-align: justify;
            &.has-background {
                margin: 0;
            }
        }
    }
    
}
/* == wp-block-subhead == */
p.wp-block-subhead {
    font-style: normal;
}
/* == wp-block-audio == */
figure.wp-block-audio {
    margin: 1em auto;
    max-width: rem(700);
}
/* == image == */
.wp-block-image {
    .aligncenter,
    .alignleft,
    .alignright,
    &.is-resized {
        display: block;
        margin-right: auto;
        margin-left: auto;
        > figcaption {
            display: block;
        }
    }
    .alignleft {
        margin-right: 1em;
    }
    .alignright {
        margin-left: 1em;
    }
}